.crypto-specific-rating-item-main-container {
  max-width: 1167px;
  min-height: 100vh;
  margin-right: 15%;
  margin-left: 15%;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section3-rating-area {
  height: 692px;
}