.crypto-specific-item-main-container {
  max-width: 1167px;
  min-height: 100vh;
  margin-right: 15%;
  margin-left: 15%;
}
.coin-icon-crypto-specific {
  width: 35px;
  height: 35px;
}

.section1-general-area-upper-area {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.upper-area-item1 {
  height: 100%;
  width: 386px;
}
.upper-area-item2 {
  width: 239px;
  height: 151px;
}
.upper-area-item3 {
  height: 100%;
  width: 530px;
}

.image-and-currency-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .crypto-image-area {
}
.crypto-name-area {
} */
.section1-general-area-lower-area {
  width: 100%;
  height: 225px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.link-list {
  width: 40%;
  height: 214px;
}
.marketcap-volume-circulating-supply-table {
  height: 131px;
  width: 60%;
}

.section2-navigation-area {
  height: 100%;
  width: 100%;
}
.navigation-list-crypto-specific {
  list-style: none;
  width: 100%;
  height: 45px;
  margin-top: 45px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navigation-item-crypto-specific-charts {
  height: 45px;
  width: 104px;
}
.navigation-item-crypto-specific-market-pairs {
  height: 45px;
  width: 145px;
}
.navigation-item-crypto-specific-social {
  height: 45px;
  width: 99px;
}
.navigation-item-crypto-specific-tools {
  height: 45px;
  width: 93px;
}
.navigation-item-crypto-specific-historical-data {
  height: 45px;
  width: 160px;
}
.navigation-item-crypto-specific-ratings {
  height: 45px;
  width: 104px;
}
.navigation-item-crypto-specific-on-chain-analysis {
  height: 45px;
  width: 187px;
}
.navigation-item-crypto-specific-news {
  height: 45px;
  width: 97px;
}
/* .navigation-item-crypto-specific-charts {
  height: 45px;
  width: 104px;
}
.navigation-item-crypto-specific-market-pairs {
  height: 100%;
}
.navigation-item-crypto-specific-social {
  height: 100%;
}
.navigation-item-crypto-specific-tools {
  height: 100%;
}
.navigation-item-crypto-specific-historical-data {
  height: 100%;
}
.navigation-item-crypto-specific-ratings {
  height: 100%;
}
.navigation-item-crypto-specific-on-chain-analysis {
  height: 100%;
} */

.section3-charts-area {
  height: 692px;
}

.section4-article-and-table-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.article-area-crypto-specific {
  width: 67%;
  height: 100%;
}
.table-area-crypto-specific {
  width: 33%;
  height: 100%;
}

.table-row-crypto-specific {
  height: 48px;
}
.table-header-crypto-specific {
  height: 48px;
  width: 180px;
}
.table-data-crypto-specific {
  height: 48px;
  width: 159px;
}
.grey-color-row {
    background-color: #EFF2F5;
}