.crypto-icon {
    width: 25px;
    height: 25px;
}

/* .td-crypto-index-item {
    height:25px
} */

.table-row-crypto-index-item {
    height:80px;
    width: 100%;
}

.td-crypto-index-item1 {
    width: 42px;
    height: 80px;
}
.td-crypto-index-item2 {
    width: 48px;
    height: 80px;
}
.td-crypto-index-item3 {
    width: 228px;
    height: 80px;
}
.td-crypto-index-item4 {
    width: 180px;
    height: 80px;
}
.td-crypto-index-item5 {
    width: 165px;
    height: 80px;
}
.td-crypto-index-item6 {
    width: 100px;
    height: 80px;
}
.td-crypto-index-item7 {
    width: 178px;
    height: 80px;
}
.td-crypto-index-item8 {
    width: 196px;
    height: 80px;
}
.td-crypto-index-item9 {
    width: 185px;
    height: 80px;
}
.td-crypto-index-item10 {
    width: 64px;
    height: 80px;
}