.crypto-specific-item-main-container {
  max-width: 1167px;
  min-height: 100vh;
  margin-right: 15%;
  margin-left: 15%;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.coin-icon-crypto-specific {
  width: 35px;
  height: 35px;
}
.section1-general-area {
  height: 100%;
}

.section1-general-area-upper-area {
  height: 184px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.upper-area-item1 {
  height: 100%;
  width: 386px;
}
.upper-area-item2 {
  width: 239px;
  height: 151px;
}
.upper-area-item3 {
  height: 100%;
  width: 530px;
}

.image-and-currency-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.crypto-price {
  line-height: 42px;
  font-size: 25px;
  color: rgba(23, 24, 27, 0.85);
  font-weight: 500;
}
/* .crypto-image-area {
}
.crypto-name-area {
} */
.section1-general-area-lower-area {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.link-list {
  width: 385px;
  height: 214px;
}
.link-list-ul-list {
  list-style: none;
  color: rgba(16, 112, 224, 0.85);
  line-height: 23px;
  font-size: 15px;
  margin-left: 0;
  padding-left: 10px;
}
.link-list-ul-list a {
  list-style: none;
  color: rgba(16, 112, 224, 0.85);
  text-decoration: none;
}
.link-list-ul-list a:hover {
  list-style: none;
  color: rgba(16, 112, 224, 0.85);
  text-decoration: underline;
}

.rank-wrapper {
  background-color: #5cb85c;
  color: white;
  /* padding: 4px; */
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  border-radius: 2px;
}

.tag-area-section1 {
  width: 379px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tags-section1 {
  background-color: #EFF2F5;
  font-size: 11px;
  line-height: 20px;
  font-weight: 500;
  padding: 1px 10px 1px 10px;
  border-radius: 30px;
  color: black;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.marketcap-volume-circulating-supply-table {
  height: 131px;
  width: 780px;
  /* padding-left: 10px; */
}
.marketcap-volume-circulating-supply-table-list {
  width: 780px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.marketcap-volume-circulating-supply-table-item {
  width: 193px;
  height: 100%;
}
.marketcap-volume-circulating-supply-heading-area {
  height: 48px;
  
  background-color: #f7f9fa;
}
.marketcap-volume-circulating-supply-heading {
  margin-top: 0;
  padding-top: 11px;
  padding-left: 13px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}
.marketcap-volume-circulating-supply-content-area {
  padding-top: 10px;
  padding-left: 13px;
}
/* .mt-text {
  
} */
.mt-content {
  margin-top: 10px;
  line-height: 23px;
  font-weight: 400;
  font-size: 15px;
}

.section2-navigation-area {
  height: 100%;
  width: 100%;
}
.navigation-list-crypto-specific {
  list-style: none;
  width: 100%;
  height: 45px;
  margin-top: 45px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #1070e0;
  line-height: 21px;
  font-size: 15px;
  font-weight: 400;
}
.navigation-list-crypto-specific a {
  text-decoration: none;
  color: #1070e0;
}
.navigation-list-crypto-specific a:hover {
  text-decoration: underline;
  color: #1070e0;
}
.navigation-item-crypto-specific-charts {
  height: 45px;
  width: 104px;
}
.navigation-item-crypto-specific-market-pairs {
  height: 45px;
  width: 145px;
}
.navigation-item-crypto-specific-social {
  height: 45px;
  width: 99px;
}
.navigation-item-crypto-specific-tools {
  height: 45px;
  width: 93px;
}
.navigation-item-crypto-specific-historical-data {
  height: 45px;
  width: 160px;
}
.navigation-item-crypto-specific-ratings {
  height: 45px;
  width: 104px;
}
.navigation-item-crypto-specific-on-chain-analysis {
  height: 45px;
  width: 187px;
}
.navigation-item-crypto-specific-news {
  height: 45px;
  width: 97px;
}
/* .navigation-item-crypto-specific-charts {
  height: 45px;
  width: 104px;
}
.navigation-item-crypto-specific-market-pairs {
  height: 100%;
}
.navigation-item-crypto-specific-social {
  height: 100%;
}
.navigation-item-crypto-specific-tools {
  height: 100%;
}
.navigation-item-crypto-specific-historical-data {
  height: 100%;
}
.navigation-item-crypto-specific-ratings {
  height: 100%;
}
.navigation-item-crypto-specific-on-chain-analysis {
  height: 100%;
} */

.section3-charts-area {
  height: 692px;
}

.section4-article-and-table-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.article-area-crypto-specific {
  width: 67%;
  height: 100%;
}
.table-area-crypto-specific {
  width: 33%;
  height: 100%;
}

.table-row-crypto-specific {
  height: 48px;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  /* font-weight: 700; */
  font-size: 13px;
  line-height: 13px;
  color: rgba(23, 24, 27, 0.85);
}
.table-header-crypto-specific {
  height: 48px;
  width: 180px;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: rgba(23, 24, 27, 0.85);
}
.table-data-crypto-specific {
  height: 48px;
  width: 159px;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: rgba(23, 24, 27, 0.85);
}
.grey-color-row {
  background-color: #eff2f5;
}
