.crypto-specific-rating-item-main-container {
  max-width: 1167px;
  min-height: 100vh;
  margin-right: 15%;
  margin-left: 15%;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section3-rating-area {
  /* height: 692px; */
  height: 100%;
}

.rating-area-text-area {
    height: 218px;
}
.fcas-graph-rating-area {
    height: 384px;
}
.fcas-chart-rating-area {
    height: 540px;
}
.fcas-report-sheet-rating-area {
    height: 590px;
}   
.tokeninsignt-rating-area {
    height: 186px;
}