/* For mobile phones: */
.tag-area {
  font: inherit;
  font-weight: bold;
  padding: 1px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #282c34;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.tag-area:hover,
.tag-area:active {
  border: 1px solid #50555f;
  background-color: #50555f;
}

.categoryArea {
  font: inherit;
  font-weight: bold;
  padding: 1px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #282c34;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.categoryArea:hover,
.categoryArea:active {
  border: 1px solid #50555f;
  background-color: #50555f;
}

.article-item {
  list-style: none;
}

.author-info {
  display: block;
  font-size: 18px;
  font-weight: 500;
  
}

.contact-info {
 display: block;
 font-style: italic;
}

.article-item {
  margin: 20px 55px 20px 20px;
  
}

/* .article-item Button {
  padding: 2px;
} */

@media only screen and (min-width: 768px) {
  /* For tablets: */
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
}
