/* For mobile phones: */
.tag-area {
  font: inherit;
  font-weight: bold;
  padding: 1px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #282c34;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.tag-area:hover,
.tag-area:active {
  border: 1px solid #50555f;
  background-color: #50555f;
  box-shadow: 1px 2px 9px grey;
}

.categoryArea {
  font: inherit;
  font-weight: bold;
  padding: 1px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #282c34;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.categoryArea:hover,
.categoryArea:active {
  border: 1px solid #50555f;
  background-color: #50555f;
  box-shadow: 1px 2px 9px grey;
}

.article-item {
  list-style: none;
}

.author-info {
  display: block;
  font-size: 18px;
  font-weight: 500;
  
}

.contact-info {
 display: block;
 font-style: italic;
}

.article-item {
  margin: 20px 55px 20px 20px;
  
}

.article-item:hover {
  box-shadow: 4px 5px 18px grey;
  background-color: whitesmoke;
}

.article-item-image-item {
  box-shadow: 4px 5px 10px grey; 
}
.article-item-image-item:hover {
  box-shadow: 5px 6px 14px grey;
 transform: rotate(10deg) translateX(10px);
 
}

.article-items-table-of-contents {
  margin-top: 30px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  height: 100%;
  width: 300px;
  background-color: rgb(235, 234, 234);
}

.article-items-table-of-contents-list {
  list-style: none;
  
}
.article-items-table-of-contents-item a {
  text-decoration: none;
  margin-top: 3px;
}
/* .article-item Button {
  padding: 2px;
} */
.article-item__article_content {
  margin-top: 30px;
}

#heading {
  margin-top: 40px;
}
#heading2 {
  margin-top: 40px;
}
#heading3 {
  margin-top: 40px;
}
#heading4 {
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
}
