/* For mobile phones: */
.articles-container {
  width: 100%;
  margin: auto;
  /* height: 100%; */
  min-height: 100vh;
  border: 1px solid black;
  /* padding-left: 10px;
  padding-right: 10px; */
}

/* .main-wrapper {
  height: 1200px;
} */

.search-box-container {
  padding: 20px;
}

.sort-selector-container {
  /* margin-top: 8px;
  padding: 8px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1;
}

.selector-item {
  margin-left: 10px;
  /* margin-right: 20px;  */
  margin-bottom: 2px;
  /* margin-top: 15px; */

  font-weight: 400;
}

.selector-item:hover {
  background: whitesmoke;
}

.selector {
  border: 1px solid;
  background-color: whitesmoke;
  border-radius: 3px;
}

.selector:focus {
  outline: none;
}

.reload-request {
  color: grey;
  text-align: left;
}
/* .selector-item:focus {
  outline: none;
} */

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .articles-container {
    width: 769px;
    margin: auto;
    /* height: 100%; */
    min-height: 100vh;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-box-container {
    padding: 20px;
  }

  .sort-selector-container {
    margin-top: 8px;
    padding: 8px;
  }

  .selector-item {
    margin-right: 20px;
    /* margin-top: 15px; */

    font-weight: 400;
  }

  .selector-item:hover {
    background: whitesmoke;
  }

  .selector {
    border: 1px solid;
    background-color: whitesmoke;
    border-radius: 3px;
  }

  .selector:focus {
    outline: none;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .articles-container {
    width: 980px;
    margin: auto;
    /* height: 100%; */
    min-height: 100vh;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-box-container {
    padding: 20px;
  }

  .sort-selector-container {
    margin-top: 8px;
    padding: 8px;
  }

  .selector-item {
    margin-right: 10px;
    /* margin-top: 15px; */

    font-weight: 400;
  }

  .selector-item:hover {
    background: whitesmoke;
  }

  .selector {
    border: 1px solid;
    background-color: whitesmoke;
    border-radius: 3px;
  }

  .selector:focus {
    outline: none;
  }
}
