/* For mobile phones: */
.container {
  width: 100%;
  margin: auto;
}

.search-box-container {
padding: 20px;

}

.sort-selector-container {
  margin-top: 8px;
  padding: 8px;
}

.selector-item {
  margin-right: 20px;
  /* margin-top: 15px; */
  
  font-weight: 400;
}

.selector-item:hover {
  background: whitesmoke;
}

.selector {
  border: 1px solid;
  background-color: whitesmoke;
  border-radius: 3px;
}

.selector:focus {
  
  outline: none;
}
/* .selector-item:focus {
  outline: none;
} */

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .container {
  width: 769px;
  margin: auto;
}
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .container {
  width: 980px;
  margin: auto;
}
}