.getSpecificArticleById-container {
  width: 100%;
  margin: auto;
  /* height: 100vh; */
  min-height: 100vh;
}
.article-index-link {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .getSpecificArticleById-container {
    width: 769px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .getSpecificArticleById-container {
    width: 980px;
    margin: auto;
  }
}