.new-article-container {
  width: 100%;
  margin: auto;
  /* height: 100vh; */
  min-height: 100vh;
}
.caption-images-file-picker-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.caption-images-file-picker {
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}
.thumbnail-image-picker-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* .thumbnail-image-picker {
  
} */

.reference-sites-information-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 470px; */
  max-height: 400px;
}
.reference-sites-information-item {
  max-width: 470px;
}

.external-sitesInfo-input-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 470px; */
  max-height: 600px;
}
.external-sitesInfo-input-item {
  max-width: 470px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .new-article-container {
    width: 769px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .new-article-container {
    width: 980px;
    margin: auto;
  }
}