.tag-index-container {
  width: 100%;
  margin: auto;
  /* height: 100vh; */
  min-height: 100vh;
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .tag-index-container {
    width: 769px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .tag-index-container {
    width: 980px;
    margin: auto;
  }
}