.user-articles-container {
  width: 100%;
  margin: auto;
  height: 100vh;
  /* display: flex; */
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .user-articles-container {
    width: 769px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .user-articles-container {
    width: 980px;
    margin: auto;
  }
}
