.crypto-icon-fcas-page {
  width: 20px;
  height: 20px;
  padding: 2px 4px 2px 4px;
}
.fcas-list-td-image {
  width: 25px;
  height: 25px;
}
.fcas-list-td-name {
  width: 176px;
  padding: 2px 4px 2px 4px;
  height: 25px;
}
.fcas-list-td-code {
  width: 150px;
  padding: 2px 4px 2px 4px;
  height: 25px;
}
.fcas-list-td-fcasscore {
  width: 170px;
  padding: 2px 4px 2px 4px;
  height: 25px;
}
.fcas-list-td-usd-price {
  width: 160px;
  padding: 2px 4px 2px 4px;
  height: 25px;
}
.fcas-list-td-marketcap {
  width: 160px;
  padding: 2px 4px 2px 4px;
  height: 25px;
}
