.table-header-of-fcas-rank-list-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}