

/* For mobile phones: */


@media only screen and (min-width: 600px) {
  /* For tablets: */
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .post-form-area {
  height: 400px;
  border: solid 1px;
}

.result-data-area {
    height: 100px;
}

.crypto-get-area {
  height: 400px;
  border: solid 1px;
}

.container {
  display: flex;
  height: 2000px;
  border: solid 1px;
}

.main-container {
  width: 810px;
  height: 100%;
  border: solid 1px;
}

.side-container {
  width: 280px;
  height: 900px;
  background-color: azure;
  border: solid 1px;
}

.back-to-top {
  top: 2000px;
  left: 1300px;
  position: absolute;
}

.result-data-area {
  margin: auto;
}

.currency-crypto-table {
  margin: auto;
}
}
