.cryptoConverter-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  /* height: 100%; */
  min-height: 100vh;
  border: solid 1px;
}
.currency-crypto-table-area {
  padding-top: 30px;
  padding-bottom: 50px;
}
.currency-crypto-table {
  margin: auto;
  margin-top: 20px;
}
/* .result-data-area {
  margin: auto;
}

.currency-crypto-table {
  margin: auto;
}

  .post-form-area {
  height: 400px;
  border: solid 1px;
}

.result-data-area {
    height: 100px;
}

.crypto-get-area {
  height: 400px;
  border: solid 1px;
} */

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .cryptoConverter-container {
    width: 769px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .cryptoConverter-container {
    width: 980px;
    margin: auto;
  }
}
