.fcasRating-container {
  width: 100%;
  margin: auto;
  /* height: 100vh; */
  min-height: 100vh;
  border: solid 1px;
  padding: 20px;
}

.superb-heading {
  padding: 10px 30px 10px 30px ;
  background-color: #00E685;
  color: black;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
}

.attractive-heading {
  padding: 10px 30px 10px 30px ;
  background-color: #73EFBB;
  color: black;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
}

.basic-heading {
  padding: 10px 30px 10px 30px ;
  background-color: #BFEFDB;
  color: black;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
}

.caution-heading {
  padding: 10px 30px 10px 30px ;
  background-color: #FFAC70;
  color: black;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
}

.fragile-heading {
  padding: 10px 30px 10px 30px ;
  background-color: #FF4D4D;
  color: black;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
}

.superb-list-container {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.attractive-list-container {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.basic-list-container {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.caution-list-container {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fragile-list-container {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .fcasRating-container {
    width: 769px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .fcasRating-container {
    width: 980px;
    margin: auto;
  }
}
