.historicalData-container {
  width: 100%;
  margin: auto;
  height: 100vh;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .historicalData-container {
    width: 769px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .historicalData-container {
    width: 980px;
    margin: auto;
  }
}