.get-specific-user-list {
  margin: 0;
  /* padding: 0; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-left: 15%;
    padding-right: 15%; */
  list-style: none;
}
