.related-videos-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.related-videos-item-image-area {
  width: 38%;
}
.related-videos-item-caption-area {
  width: 60%;
}

.related-videos-item-image {
  width: 150px;
  height: 90px;
}
