.related-videos-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.related-videos-item-image-area {
  width: 38%;
  position: relative;
}
.related-videos-item-caption-area {
  width: 60%;
}

.related-videos-item-image {
  width: 150px;
  height: 90px;
}
.related-video-item-title {
  font-size: 16px;
  font-weight: 600;
}
.related-video-duration {
    position: absolute;
    right: 11px;
    bottom: 5px;
    background-color: black;
    opacity: 0.6;
    color: white;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    font-family: Roboto, Arial, sans-serif;;
}
