.video-item-container {
  flex: 1 1 10px;
  padding: 2px;
  margin: 1%;
  /* max-width: 341px; */
  min-width: 365px;
  box-shadow: 1px 2px 10px rgb(231, 231, 231);
  border-radius: 10px;
  justify-content: start;
}
.video-image-box {
  position: relative;
}
.video-image {
  width: 365px;
  height: 200px;
}
.duration {
  position: absolute;
  top: 100px;
  right: 8px;
  color: white;
  background-color: black;
  opacity: 0.8;
}

.hd {
  position: absolute;
  color: black;
  background-color: rgb(255, 230, 0);
  right: 10px;
  top: 30px;
  width: 25px;
}

.is4K {
  position: absolute;
  right: 10px;
  top: 5px;
  color: white;
  background-color: rgb(0, 140, 255);
  width: 25px;
}

.video-item-container img {
  box-shadow: 1px 2px 10px rgb(197, 191, 191);
}

.video-item-container img:hover {
  box-shadow: 2px 4px 11px rgb(163, 159, 159);
}

.video-item-container:hover {
  box-shadow: 2px 4px 11px rgb(180, 173, 173);
}

.video-item-container:active {
  box-shadow: 4px 6px 11px rgb(95, 94, 94);
}

.videoItem-persons {
  margin-right: 10px;
}

.video-item-date {
  margin-right: 10px;
}

.video-item-tags {
  margin-right: 10px;
}

.video-item-category {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .video-item-container {
    flex: 1 1 10px;
    padding: 2px;
    margin: 5px;
    max-width: 225px;
    min-width: 225px;
    box-shadow: 1px 2px 10px rgb(231, 231, 231);
    border-radius: 10px;
    justify-content: start;
  }
  .video-image-box {
    position: relative;
  }
  .video-image {
    width: 220px;
    height: 125px;
  }
  .duration {
    position: absolute;
    top: 100px;
    right: 8px;
    color: white;
    background-color: black;
    opacity: 0.8;
  }

  .hd {
    position: absolute;
    color: black;
    background-color: rgb(255, 230, 0);
    right: 10px;
    top: 30px;
    width: 25px;
  }

  .is4K {
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
    background-color: rgb(0, 140, 255);
    width: 25px;
  }

  .video-item-container img {
    box-shadow: 1px 2px 10px rgb(197, 191, 191);
  }

  .video-item-container img:hover {
    box-shadow: 2px 4px 11px rgb(163, 159, 159);
  }

  .video-item-container:hover {
    box-shadow: 2px 4px 11px rgb(180, 173, 173);
  }

  .video-item-container:active {
    box-shadow: 4px 6px 11px rgb(95, 94, 94);
  }

  .videoItem-persons {
    margin-right: 10px;
  }

  .video-item-date {
    margin-right: 10px;
  }

  .video-item-tags {
    margin-right: 10px;
  }

  .video-item-category {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .video-item-container {
    flex: 1 1 10px;
    padding: 2px;
    margin: 5px;
    max-width: 225px;
    min-width: 225px;
    box-shadow: 1px 2px 10px rgb(231, 231, 231);
    border-radius: 10px;
    justify-content: start;
  }
  .video-image-box {
    position: relative;
  }
  .video-image {
    width: 220px;
    height: 125px;
  }
  .duration {
    position: absolute;
    top: 100px;
    right: 8px;
    color: white;
    background-color: black;
    opacity: 0.8;
  }

  .hd {
    position: absolute;
    color: black;
    background-color: rgb(255, 230, 0);
    right: 10px;
    top: 30px;
    width: 25px;
  }

  .is4K {
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
    background-color: rgb(0, 140, 255);
    width: 25px;
  }

  .video-item-container img {
    box-shadow: 1px 2px 10px rgb(197, 191, 191);
  }

  .video-item-container img:hover {
    box-shadow: 2px 4px 11px rgb(163, 159, 159);
  }

  .video-item-container:hover {
    box-shadow: 2px 4px 11px rgb(180, 173, 173);
  }

  .video-item-container:active {
    box-shadow: 4px 6px 11px rgb(95, 94, 94);
  }

  .videoItem-persons {
    margin-right: 10px;
  }

  .video-item-date {
    margin-right: 10px;
  }

  .video-item-tags {
    margin-right: 10px;
  }

  .video-item-category {
    margin-right: 10px;
  }
}
