.video-item-container {
    flex: 1;
    padding: 5px;
    margin: 5px;
box-shadow: 1px 2px 10px rgb(231, 231, 231);
border-radius: 10px;
}
.video-image-box {
    position: relative;
}
.duration {
    position: absolute;
    top: 135px;
    right: 10px;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.video-item-container img {
    box-shadow: 1px 2px 10px rgb(197, 191, 191);
};

.video-item-container img:hover {
    box-shadow: 2px 4px 11px rgb(163, 159, 159);
}

.video-item-container:hover {
    box-shadow: 2px 4px 11px rgb(180, 173, 173);
    
}

.video-item-container:active {
    box-shadow: 4px 6px 11px rgb(95, 94, 94);
    
}

.videoItem-persons {
    margin-right: 10px;
}

.video-item-date {
 margin-right: 10px;
}

.video-item-tags {
 margin-right: 10px;
}

.video-item-category {
 margin-right: 10px;
}