/* .videoById-tag {
  margin-left: 10px;
}

.videoById-category {
  margin-left: 10px;
}

.videoById-persons {
  margin-left: 10px;
} */

/* .video-area {
} */

.videoByIdItem-description {
  max-width: 1000px;
}
.video-iframe {
  width: 340px;
  /* height: 100%; */
  height: 220px;
  margin-right: 30px;
}
.videoById-tag {
  color: white;
  background-color: rgb(83, 83, 83);
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  padding: 2px;
}
.videoById-category {
  color: black;
  background-color: rgb(255, 208, 0);
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  padding: 2px;
}
.videoById-persons {
  color: black;
  background-color: white;
  border: solid 1px black;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  padding: 2px;
}

.liked-button {
  cursor: pointer;
}
.disliked-button {
  cursor: pointer;
}

.video-info-left-area {
  display: inline-block;
}
.video-info-right-area {
  display: inline-block;
  margin-left: 60px;
}
.video-information-area {
  max-width: 1080px;
}
.video-comment-list {
  list-style: none;
}
.video-comment-item {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;

}
.video-comment-text {
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;

}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  /* .videoById-tag {
    margin-left: 10px;
  }

  .videoById-category {
    margin-left: 10px;
  }

  .videoById-persons {
    margin-left: 10px;
  } */

  .video-iframe {
    width: 700px;
    /* height: 100%; */
    height: 420px;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */

  .videoById-tag {
    margin-left: 20px;
  }

  .videoById-category {
    margin-left: 20px;
  }

  .videoById-persons {
    margin-left: 20px;
  }

  .video-iframe {
    width: 1082px;
    height: 610px;
  }
}
