
/* For mobile phones: */


@media only screen and (min-width: 768px) {
  /* For tablets: */
  
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .button {
    cursor: pointer;
}

}