/* For mobile phones: */
.button--btnBlack {
  font: inherit;
  cursor: pointer;
  border: 1px solid black;
  background-color: #282c34;
  color: white;
  padding: 0.4rem 1.8rem;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .button {
    cursor: pointer;
  }
}
