/* For mobile phones: */
.button--btnBlack {
  font: inherit;
  cursor: pointer;
  border: 1px solid black;
  background-color: #282c34;
  color: white;
  padding: 0.4rem 1.8rem;
  margin-right: 1rem;
  margin-top: 8px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}
.button--btnBlack:focus {
  outline: none;
}
.button--btnBlack:hover,
.button--btnBlack:active {
  background-color: #42454b;
  border-color: #42454b;
}

.button--btnBlack__inverse {
  font: inherit;
  cursor: pointer;
  border: 1px solid black;
  background: transparent;
  color: black;
  padding: 0.4rem 1.8rem;
  margin-right: 1rem;
  margin-top: 8px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.button--btnBlack__inverse:focus {
  outline: none;
}
.button--btnBlack__inverse:hover,
.button--btnBlack__inverse:active {
  border: 1px solid black;
  background-color: #282c34;
  color: white;
}

.button--premium {
  font: inherit;
  cursor: pointer;
  border: 1px solid black;
  background-color: gold;
  color: black;
  padding: 0.4rem 1.8rem;
  margin-right: 1rem;
  margin-top: 8px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;box-shadow: 1px 2px 11px grey;
}

.button--premium:focus {
  outline: none;
}
.button--premium:hover {
  background-color: rgb(255, 230, 91);
  
}
.button--premium:active {
  background-color: rgb(255, 241, 159);
}

.button--danger {
  font: inherit;
  cursor: pointer;
  border: 1px solid red;
  background: transparent;
  border-color: red;
  color: red;
  padding: 0.4rem 1.8rem;
  margin-right: 1rem;
  margin-top: 8px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.button--danger:focus {
  outline: none;
}

.button--danger:hover,
.button--danger:active {
  background-color: red;
  border-color: red;
  color: white;
}

.button--green {
  font: inherit;
  cursor: pointer;
  border: 1px solid green;
  background: transparent;
  color: green;
  padding: 0.4rem 1.8rem;
  margin-right: 1rem;
  margin-top: 8px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.button--green:focus {
   outline: none;
}

.button--green:hover {
  border: 1px solid rgb(18, 199, 18);
  color: rgb(18, 199, 18);
}

.button--green:active {
  border: 1px solid rgb(18, 199, 18);
  background-color:rgb(18, 199, 18);
  color: white;
}



@media only screen and (min-width: 768px) {
  /* For tablets: */
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .button {
    cursor: pointer;
  }
}
