
/* For mobile phones: */
 .main-navigation__menu-button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-button span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #fff;
}

.home-link {
  text-decoration: none;
  /* color: #fff; */
}

.main-navigation__header-nav {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
   .main-navigation__menu-button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-button span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #fff;
}

.home-link {
  text-decoration: none;
  /* color: #fff; */
}

.main-navigation__header-nav {
  text-decoration: none;
}
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .main-navigation__menu-button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-button span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #fff;
}

.home-link {
  text-decoration: none;
  color: #fff;
}

.main-navigation__header-nav {
  text-decoration: none;
}

}
