/* For mobile phones: */
.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  
}

.navlinks li {
  /* margin: 1rem; */
}

.navlinks a {
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  /* padding: 0.5rem; */
}

.navlinks a:hover,
.navlinks a:active,
.navlinks a.active {
  background: #f8df00;
  border-color: #292929;
  color: #292929;
}

.navlinks button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.navlinks button:focus {
  outline: none;
}

.navlinks button:focus {
  outline: none;
}

.navlinks button:hover,
.navlinks button:active {
  background: #292929;
  color: white;
}

.erase-underline-text-decoration {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .navlinks {
  
    flex-direction: row;
  }

  .navlinks a {
  text-decoration: none;
  color: white;
}

.nav-links li {
    margin: 0 0.5rem;
  }

.nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #f8df00;
    color: #292929;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
 .navlinks {
  
    flex-direction: row;
  }
}
