.navlinks {
    display: flex;
justify-content: center;
align-items: center;
list-style: none;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
flex-direction: row;

}

.navlinks a {
    text-decoration: none;
    color: #fff;
}

.erase-underline-text-decoration {
    text-decoration: none;
}