/* .footer-container {
    
} */


.footer-links-wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    margin: auto;justify-content: center;
    color: white;
}

.footer-link-lists {
    align-self: center;
    width: 300px;
    height: 300px;
    margin: 10px 15px 10px 15px;
    padding: 10px;
}

.footer-link-lists li {
    margin-top: 10px;
}

.footer-link-lists li a {
    color: white;
    text-decoration-line: none;
}

.footer-link-list {
    list-style-type: none;
}