.download-container {
    display: flex;
    height: 2000px;
    border: solid 1px;
}

.download-main-section {
  width: 810px;
  height: 100%;
  background-color: aqua;
  /* display: flex; */
  border: solid 1px;
}

.download-link-lists {
  
  height: 200;
  width: 100%;
  height: 70px;
}

.download-link-items {
        display: contents;
            

}


.download-link-item {
    background-color: red;
    list-style: none;
    border: solid 1px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.download-side-section {
  width: 280px;
  height: 900px;
  background-color: azure;
  border: solid 1px;
}
