

/* For mobile phones: */
.download-container {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .download-container {
    width: 769px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
.download-container {
    width: 980px;
    margin: auto;
  }

.download-main-section {
  width: 810px;
  height: 100%;
  background-color: aqua;
  /* display: flex; */
  border: solid 1px;
}

.download-link-lists {
  
  height: 200;
  width: 100%;
  height: 70px;
}

.download-link-items {
        display: contents;
            

}


.download-link-item {
    background-color: red;
    list-style: none;
    border: solid 1px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.download-side-section {
  width: 280px;
  height: 900px;
  background-color: azure;
  border: solid 1px;
}

/* .image-preview {
  
} */
}
