.download-container {
    display: flex;
    height: 2000px;
    border: solid 1px;
}

.download-main-section {
  width: 600px;
  height: 400px;
  background-color: aqua;
  /* display: flex; */
  border: solid 1px;
}

.download-link-lists {
  
  height: 200;
  width: 100%;
  height: 70px;
}

.download-link-items {
        display: contents;
        
}


.download-link-item {
    background-color: red;
    list-style: none;
    border: solid 1px;
}

.download-side-section {
  width: 370px;
  height: 400px;
  background-color: azure;
  border: solid 1px;
}
