







/* For mobile phones: */
.App {
  text-align: center;
}

.container {
  display: flex;
  height: 2000px;
  border: solid 1px;
}

.main-container {
  width: 100%;
  height: 100%;
  border: solid 1px;
}

/* .side-container {
  width: 280px;
  height: 900px;
  background-color: azure;
  border: solid 1px;
} */

.to-top {
  z-index: 5;
  position: fixed;
  top: 300px;
}


main {
  width: 375px;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 100px;
}

header {
  position: fixed;
  z-index: 5;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: #FF0455;
  width: 100%;
  height: 90;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 7px;
}

.center {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  /* For tablets: */

.container {
  display: flex;
  width: 100%;
  height: 2000px;
  border: solid 1px;
}

.main-container {
  width: 100%;
  height: 100%;
  border: solid 1px;
}

/* .side-container {
  width: 280px;
  height: 900px;
  background-color: azure;
  border: solid 1px;
} */

.to-top {
  z-index: 5;
  position: fixed;
  top: 300px;
}

  main {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 100px;
}
 header {
  position: fixed;
  z-index: 5;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: #FF0455;
  width: 100%;
  height: 90;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 7px;
}

.center {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */

  .container {
  display: flex;
  height: 2000px;
  border: solid 1px;
}

.main-container {
  width: 810px;
  height: 100%;
  border: solid 1px;
}

.side-container {
  width: 280px;
  height: 900px;
  background-color: azure;
  border: solid 1px;
}

.to-top {
  z-index: 5;
  position: fixed;
  top: 300px;
}

  main {
  width: 980px;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 100px;
}

header {
  position: fixed;
  z-index: 5;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: #FF0455;
  width: 100%;
  height: 90;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 7px;
}

.center {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}
