.video-main-container {
    /* margin: auto; */
    margin-right: 20%;
    margin-left: 0px;
    width: 100%;
    /* height: 100vh; */
    min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .video-main-container {
    margin: auto;
    width: 80%;
    /* height: 100vh; */
    min-height: 100vh;
}
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
 .video-main-container {
    margin: auto;
    width: 80%;
    /* height: 100vh; */
    min-height: 100vh;
}
}